
<router-outlet>
    <div class="text-center">GALLERY</div>
        <div class="col-md-6">
        <form class="todo-form" (ngSubmit)="onSubmit(); todoForm.reset()" #todoForm="ngForm">
          
           <label><input type="checkbox" (click)="setTitle = !setTitle">Set page title</label><br>
           
           <label><input type="checkbox" (click)="alert = !alert"/> Alert</label><br>
           
            <input type="text" name="title"  required [(ngModel)]="newTitle" placeholder="What should I do?"> 
            <button type="submit" [disabled]="todoForm.form.invalid">Submit</button>
        </form>
    </div>
</router-outlet>